html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.header-text-2 {
  font-family: "Righteous", cursive;
  color: white;
  font-size: 40;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.header {
  height: 100vh;
  background-color: black;
  padding: 1rem 2rem;
  border: 3px solid white;
  margin: 5rem 1rem;
  position: relative;
}
#header-text-3 {
  font-family: "Righteous", cursive;
  color: white;
  font-size: 30;
  text-transform: uppercase;
  letter-spacing: 1rem;
  position: absolute;
  top: 20%;
  left: 3%;
}

body {
  background-image: url(blue-gradient-background.png);
  text-align: center;
}
img {
  position: absolute;
  transform: translate(-55%, 60%);
}
